<div class="jumbotron">
  <h1 class="display-3" align="center">Would You Rather</h1>
  <br>
  <p class="lead">
   	<button class="btn btn-primary">Opção 1</button>
   	<button class="btn btn-danger">Opção 2</button>
  </p>
	
</div>