<div class="jumbotron">
  <h1 class="display-3" align="center">Would You Rather</h1>
  <br>
  <p class="lead">
    <p>Would You Rather é um jogo de decisões entre a vida e a morte.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus hic aut officiis distinctio veritatis! Labore alias soluta reprehenderit, maiores, amet quos fuga adipisci quia sapiente. Impedit architecto, ex in iure.</p>
    
  </p>
	
</div>