<table class="table table-hover">
     <thead >
       <tr>
         <th>Descrição</th>
         <th>Opção 1</th>
         <th>Opção 2</th>
       </tr>
     </thead>
     <tbody>
       <% @questions.each do |question| %>
         <tr>
			<td><%= question.description %></td>
			<td><%= question.option1 %></td>
			<td><%= question.option2 %></td>           
         </tr>
      <%end%>
    </tbody>
 </table>